configuration/wsdl/ContoDigitaleWS/RetrieveLastInvoice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions

xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:n="http://www.fastweb.it/EDH/RetrieveLastInvoice/"
  xmlns:infa="http://www.informatica.com/"
  targetNamespace="http://www.informatica.com/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
  <xsd:schema targetNamespace="http://www.fastweb.it/EDH/RetrieveLastInvoice/" xmlns="http://www.fastweb.it/EDH/RetrieveLastInvoice/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:infatype="http://www.informatica.com/types/" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/http/"/>
    <xsd:element name="InputRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="AccountNumber" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
                <xsd:minLength value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>

    <xsd:element name="OutputResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="ErrorCode" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
                <xsd:minLength value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ErrorDescription" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
                <xsd:minLength value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="AccountNumber" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
                <xsd:minLength value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="InvoiceData" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="NumDoc" minOccurs="1" maxOccurs="1">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="255"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DocExpireDate" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="255"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="DocAmount" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
				<xsd:element name="FrontendInvoiceStatus" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="255"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
				<xsd:element name="InvoiceTechStatus" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
						<xsd:minLength value="0"/>
						<xsd:maxLength value="255"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
				<xsd:element name="TagInvoice" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>

  </xsd:schema>

  </wsdl:types>

  <wsdl:message name="inMessage">
    <wsdl:part name="inParm" element="n:InputRequest" />
  </wsdl:message>
  <wsdl:message name="outMessage">
    <wsdl:part name="outParm" element="n:OutputResponse" />
  </wsdl:message>

  <wsdl:portType name="RetrieveLastInvoicePort">
    <wsdl:operation name="RetrieveLastInvoiceOperation">
      <wsdl:input message="infa:inMessage"/>
      <wsdl:output message="infa:outMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="RetrieveLastInvoiceBinding" type="infa:RetrieveLastInvoicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="RetrieveLastInvoiceOperation">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body  use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body  use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="RetrieveLastInvoice">
    <wsdl:port name="RetrieveLastInvoicePort" binding="infa:RetrieveLastInvoiceBinding">
      <soap:address location="http://pwc-cl3.svi.intranet.fw:7337/wsh/services/RealTime/RetrieveLastInvoice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

