configuration/wsdl/HagTestWS/GetHagTestLightIvr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions
	xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
	xmlns:WL5G3N1="http://it.fastweb.esb.org/GetHagTestLight"
	xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://it.fastweb.esb.org/GetHagTestLight">
	<WL5G3N0:types>
		<xsd:schema
			xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:rd="http://it.fastweb.esb.org/ResultDataType"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
			xmlns:td="http://it.fastweb.esb.org/TransactionDataTypes"
			xmlns:tns="http://it.fastweb.esb.org/GetHagTestLight"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://it.fastweb.esb.org/GetHagTestLight">
			<xsd:import schemaLocation="XSD_ESB_ResultData.xsd"
				namespace="http://it.fastweb.esb.org/ResultDataType">
			</xsd:import>
			<xsd:import schemaLocation="XSD_ESB_TransactionData.xsd"
				namespace="http://it.fastweb.esb.org/TransactionDataTypes"></xsd:import>
			<xsd:element name="GetHagTestLightRequest"
				type="tns:GetHagTestLightRequestType" />
			<xsd:element name="GetHagTestLightResponse"
				type="tns:GetHagTestLightResponseType" />
			<xsd:complexType name="GetHagTestLightRequestType">
				<xsd:sequence>
					<xsd:element name="TransactionData"
						type="td:TransactionDataType" />
					<xsd:element name="InputData" type="tns:InputDataType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetHagTestLightResponseType">
				<xsd:sequence>
					<xsd:element name="ResultData" type="rd:ResultDataType" />
					<xsd:element minOccurs="0" name="OutputData"
						type="tns:OutputDataType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InputDataType">
				<xsd:sequence>
					<xsd:element name="Flusso" type="xsd:string" />
					<xsd:element name="TrackingBody"
						type="tns:TrackingBodyType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TrackingBodyType">
				<xsd:sequence>
					<xsd:element name="Sorgente" type="xsd:string" />
					<xsd:element minOccurs="0" name="Parametri"
						type="tns:ParametriType" />
					<xsd:element minOccurs="0" name="Componenti"
						type="tns:ComponentiType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ParametriType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="Parametro"
						type="tns:ParametroType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ComponentiType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="Componente"
						type="tns:ComponenteType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ParametroType">
				<xsd:sequence>
					<xsd:element name="Descrizione" type="xsd:string" />
					<xsd:element name="Valore" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ComponenteType">
				<xsd:sequence>
					<xsd:element name="ID" type="xsd:string" />
					<xsd:element name="Descrizione" type="xsd:string" />
					<xsd:element name="Tipo" type="xsd:string" />
					<xsd:element minOccurs="0" name="Parametri"
						type="tns:ParametriType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OutputDataType">
				<xsd:sequence>
					<xsd:element name="QualitaOutput"
						type="tns:QualitaOutputType" />
					<xsd:element minOccurs="0" name="RaggiungibilitaOutput"
						type="tns:RaggiungibilitaOutputType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="QualitaOutputType">
				<xsd:sequence>
					<xsd:element name="IdMessaggio" type="xsd:string" />
					<xsd:element name="Flusso" type="xsd:string" />
					<xsd:element name="NomeBE" type="xsd:string" />
					<xsd:element name="DataInserimentoBE" type="xsd:string" />
					<xsd:element name="Release" type="xsd:string" />
					<xsd:element name="TrackingBody"
						type="tns:TrackingBodyType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RaggiungibilitaOutputType">
				<xsd:sequence>
					<xsd:element name="IdMessaggio" type="xsd:string" />
					<xsd:element name="Flusso" type="xsd:string" />
					<xsd:element name="NomeBE" type="xsd:string" />
					<xsd:element name="DataInserimentoBE" type="xsd:string" />
					<xsd:element name="Release" type="xsd:string" />
					<xsd:element name="TrackingBody"
						type="tns:TrackingBodyType" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message name="GetHagTestLightRequest">
		<WL5G3N0:part name="GetHagTestLightRequest"
			element="WL5G3N1:GetHagTestLightRequest" />
	</WL5G3N0:message>
	<WL5G3N0:message name="GetHagTestLightResponse">
		<WL5G3N0:part name="GetHagTestLightResponse"
			element="WL5G3N1:GetHagTestLightResponse" />
	</WL5G3N0:message>
	<WL5G3N0:portType name="GetHagTestLightPortType">
		<WL5G3N0:operation name="GetHagTestLight">
			<WL5G3N0:input message="WL5G3N1:GetHagTestLightRequest" />
			<WL5G3N0:output
				message="WL5G3N1:GetHagTestLightResponse" />
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding name="GetHagTestLightBinding"
		type="WL5G3N1:GetHagTestLightPortType">
		<WL5G3N2:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<WL5G3N0:operation name="GetHagTestLight">
			<WL5G3N2:operation style="document"
				soapAction="GetHagTestLight" />
			<WL5G3N0:input>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service name="GetHagTestLightService">
		<WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
		<WL5G3N0:port name="GetHagTestLightPort"
			binding="WL5G3N1:GetHagTestLightBinding">
			<WL5G3N2:address
				location="http://ws302oag.lh1.se.intranet.fw:8080/Eudata/TechnicalManagement/GetHagTestLightIvr" />
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>
