configuration/wsdl/RetrieveStoricoFattureWS/WSDL_ESB_RecuperoStoricoFatture.wsdl

<definitions targetNamespace="http://it.fastweb.esb.org/RecuperoStoricoFatture" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:td="http://it.fastweb.esb.org/TransactionDataTypes" xmlns:rd="http://it.fastweb.esb.org/ResultDataType" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://it.fastweb.esb.org/RecuperoStoricoFatture">
	<types>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://it.fastweb.esb.org/RecuperoStoricoFatture">
			<xsd:import schemaLocation="XSD_ESB_TransactionData.xsd" namespace="http://it.fastweb.esb.org/TransactionDataTypes"/>
			<xsd:import schemaLocation="XSD_ESB_ResultData.xsd" namespace="http://it.fastweb.esb.org/ResultDataType"/>
			<xsd:element name="RecuperoStoricoFattureRequest" type="tns:RecuperoStoricoFattureRequestType"/>
			<xsd:element name="RecuperoStoricoFattureResponse" type="tns:RecuperoStoricoFattureResponseType"/>
			<xsd:complexType name="RecuperoStoricoFattureRequestType">
				<xsd:sequence>
					<xsd:element name="TransactionData" type="td:TransactionDataType"/>
					<xsd:element name="InputData" type="tns:InputDataType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="InputDataType">
				<xsd:sequence>
					<xsd:element name="AccountNumber" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LastTenInvoice" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RecuperoStoricoFattureResponseType">
				<xsd:sequence>
					<xsd:element name="ResultData" type="rd:ResultDataType"/>
					<xsd:element name="OutputData" type="tns:OutputDataType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="OutputDataType">
				<xsd:sequence>
					<xsd:element name="ErrorCode" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ErrorDescription" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AccountNumber" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LastTenInvoice" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ListInvoice" type="tns:ListInvoiceType" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="ListInvoiceType">
				<xsd:sequence>
					<xsd:element name="NumDoc" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FiscalYear" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocDate" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocExpireDate" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocAmount" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocTypeId" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FrontendInvoiceStatus" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="InvoiceTechStatus" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OnlinePaybilityStatus" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OnlinePayment" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocOnlinePaymentDate" minOccurs="1" maxOccurs="1" nillable="true">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="0"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="RecuperoStoricoFattureRequest">
		<part name="RecuperoStoricoFattureRequest" element="tns:RecuperoStoricoFattureRequest"/>
	</message>
	<message name="RecuperoStoricoFattureResponse">
		<part name="RecuperoStoricoFattureResponse" element="tns:RecuperoStoricoFattureResponse"/>
	</message>
	<portType name="RecuperoStoricoFatturePortType">
		<operation name="RecuperoStoricoFatture">
			<input message="tns:RecuperoStoricoFattureRequest"/>
			<output message="tns:RecuperoStoricoFattureResponse"/>
		</operation>
	</portType>
	<binding name="RecuperoStoricoFattureBinding" type="tns:RecuperoStoricoFatturePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="RecuperoStoricoFatture">
			<soap:operation soapAction="RecuperoStoricoFatture" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RecuperoStoricoFattureService">
		<port name="RecuperoStoricoFatturePort" binding="tns:RecuperoStoricoFattureBinding">
			<soap:address location="http://ws302oag.se.intranet.fw:8080//Eudata/CustomerBilling/RecuperoStoricoFatture"/>
		</port>
	</service>
</definitions>