configuration/wsdl/BlacklistCheckWS/WSDL_ESB_BlackListCheck.wsdl

<definitions targetNamespace="http://it.fastweb.esb.org/BlackListCheck" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:td="http://it.fastweb.esb.org/TransactionDataTypes" xmlns:rd="http://it.fastweb.esb.org/ResultDataType" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://it.fastweb.esb.org/BlackListCheck">
	<types>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://it.fastweb.esb.org/BlackListCheck">
			<xsd:import schemaLocation="XSD_ESB_TransactionData.xsd" namespace="http://it.fastweb.esb.org/TransactionDataTypes"/>
			<xsd:import schemaLocation="XSD_ESB_ResultData.xsd" namespace="http://it.fastweb.esb.org/ResultDataType"/>
			<xsd:element name="BlackListCheckRequest" type="tns:BlackListCheckRequestType"/>
			<xsd:element name="BlackListCheckResponse" type="tns:BlackListCheckResponseType"/>
			<xsd:complexType name="BlackListCheckRequestType">
				<xsd:sequence>
					<xsd:element name="TransactionData" type="td:TransactionDataType"/>
					<xsd:element name="InputData" type="tns:InputDataType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="InputDataType">
				<xsd:sequence>
					<xsd:element name="blacklistType" type="xsd:string"/>
					<xsd:element name="value" type="xsd:string"/>
					<xsd:element name="identificativoCliente" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="BlackListCheckResponseType">
				<xsd:sequence>
					<xsd:element name="ResultData" type="rd:ResultDataType"/>
					<xsd:element name="OutputData" type="tns:OutputDataType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="OutputDataType">
				<xsd:sequence>
					<xsd:element name="esito" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="esitoDescription" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="BlackListCheckRequest">
		<part name="BlackListCheckRequest" element="tns:BlackListCheckRequest"/>
	</message>
	<message name="BlackListCheckResponse">
		<part name="BlackListCheckResponse" element="tns:BlackListCheckResponse"/>
	</message>
	<portType name="BlackListCheckPortType">
		<operation name="BlackListCheck">
			<input message="tns:BlackListCheckRequest"/>
			<output message="tns:BlackListCheckResponse"/>
		</operation>
	</portType>
	<binding name="BlackListCheckBinding" type="tns:BlackListCheckPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="BlackListCheck">
			<soap:operation soapAction="BlackListCheck" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="BlackListCheckService">
		<port name="BlackListCheckPort" binding="tns:BlackListCheckBinding">
			<soap:address location="http://localhost:8011/ESB/PX_OSBFE_BlackListCheck"/>
		</port>
	</service>
</definitions>