configuration/wsdl/RetrieveMigraTecnologiaWS/RetrieveMigraTecnologia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions

xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:n="http://www.fastweb.it/EDH/RetrieveMigraTecnologia/"
  xmlns:infa="http://www.informatica.com/"
  targetNamespace="http://www.informatica.com/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
  <xsd:schema targetNamespace="http://www.fastweb.it/EDH/RetrieveMigraTecnologia/" xmlns="http://www.fastweb.it/EDH/RetrieveMigraTecnologia/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:infatype="http://www.informatica.com/types/" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/http/"/>
    <xsd:complexType name="AccountDataType">
      <xsd:sequence>
        <xsd:element name="VENDIBILITA_MIGLIORE" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="VEND_MIGL_VEL_MAX" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="20"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PIANIFICAZIONE" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="20"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_IN_DISATTIVAZIONE" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_DISATTIVATO" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_IN_RETENTION" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_DISSERVIZIO_IN_CORSO" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_SUBENTRO_IN_CORSO" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_TRASLOCO_IN_CORSO" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_VARIAZIONE_IN_CORSO" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="DETTAGLIO_VARIAZIONE" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_DISALLINEAMENTO_APPARATO" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_DUNNING" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_NP_PURA_IN_CORSO" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FLAG_CAMBIO_APPARATO" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="MODALITA_CONSEGNA" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="EDH_LAST_UPDATE_DATE" nillable="true" type="xsd:date">
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="InputReq">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="ACCOUNT_NUMBER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>

    <xsd:element name="OutputResp">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="ErrorCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ErrorDescription">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ACCOUNT_NUMBER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="AccountData" minOccurs="0" maxOccurs="unbounded" type="AccountDataType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>

  </xsd:schema>

  </wsdl:types>

  <wsdl:message name="inMessage">
    <wsdl:part name="inParm" element="n:InputReq" />
  </wsdl:message>
  <wsdl:message name="outMessage">
    <wsdl:part name="outParm" element="n:OutputResp" />
  </wsdl:message>

  <wsdl:portType name="RetrieveMigraTecnologiaPort">
    <wsdl:operation name="RetrieveMigraTecnologiaOperation">
      <wsdl:input message="infa:inMessage"/>
      <wsdl:output message="infa:outMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="RetrieveMigraTecnologiaBinding" type="infa:RetrieveMigraTecnologiaPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="RetrieveMigraTecnologiaOperation">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body  use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body  use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="RetrieveMigraTecnologia">
    <wsdl:port name="RetrieveMigraTecnologiaPort" binding="infa:RetrieveMigraTecnologiaBinding">
      <soap:address location="http://pwc-cl3.svi.intranet.fw:7333/wsh/services/RealTime/RetrieveMigraTecnologia" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

