configuration/wsdl/ManageTechnicalInfoWS/ManageTechnicalInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions

xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:n="http://www.fastweb.it/EDH/RetrieveCTPOrder/"
  xmlns:infa="http://www.informatica.com/"
  targetNamespace="http://www.informatica.com/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
  <xsd:schema targetNamespace="http://www.fastweb.it/EDH/RetrieveCTPOrder/" xmlns="http://www.fastweb.it/EDH/RetrieveCTPOrder/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:infatype="http://www.informatica.com/types/" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/http/"/>
    <xsd:element name="InputRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="BillingAccount">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>

    <xsd:element name="OutputResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="ErrorCode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
                <xsd:minLength value="0"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ErrorDescription">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="255"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BillingAccount">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ListOfOrder" minOccurs="0" maxOccurs="unbounded" type="OutputRowsType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="OutputRowsType">
      <xsd:sequence>
        <xsd:element name="OutputSingleRow" minOccurs="0" maxOccurs="unbounded" type="OutputRowType"/>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OutputRowType">
      <xsd:sequence>
        <xsd:element name="OrderID" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="AutenticationFlag" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="CustomerClass" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="DeactivationDate" nillable="true" type="xsd:date">
        </xsd:element>
        <xsd:element name="ActivationDate" nillable="true" type="xsd:date">
        </xsd:element>
        <xsd:element name="ActivationFirstDate" nillable="true" type="xsd:date">
        </xsd:element>
        <xsd:element name="IsCpeFw" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="NumUsers" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="OmSiteId" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="PostPrePayFlag" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="ReleaseSw" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RgType" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="Status" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="Technology" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="CityName" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="60"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StreetType" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="3"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StreetName" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="StreetCivicNumber" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IsAcsCfg" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="IsDHCPCfg" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="CpeIPAddress" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="MacAddress" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="32"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="SwitchIPAddress" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="SwitchPort" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="ProfileType" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ProfileTypeNetwork" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="CustomerProfilePerfRete" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="ServiceClass" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="ServiceClassUp" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="TbrDown" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="DslamIPAddress" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="DslamPort" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="16"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="DslamName" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="BrasIPAddress" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PvcDati" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="21"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PvcSpeed" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="IfAtmDati" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="81"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ChannelProgress" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="PermOlo" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="CpeType" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="DHCPRegisteredDate" nillable="true" type="xsd:date">
        </xsd:element>
        <xsd:element name="InnerVlan" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="OuterVlan" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="BrasAtmSlotPort" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="163"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PvcCustVoice" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PvcFWData" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="21"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PvcFWVoice" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="21"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="SubinterfaceVoice" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="40"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="TiLineID" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IPV6Compatibility" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="AddressNat444" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="IPPubblicoRouted" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="15"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="BrasName" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="32"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="BrasType" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="ManCode">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="FwMacAddress" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="32"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="MosFwSerialNumber" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="MosFwModelDescr" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="MosFwDeliveryDate" nillable="true" type="xsd:date">
        </xsd:element>
        <xsd:element name="MosFw" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="ServiceKeyFTTH100" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="3"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="SlotPots" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="CanalePots" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ManName">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="60"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="CpeHostname" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="262"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="TdTransp" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="TechProfileTi" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="BitRateUp" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="BitRateDown" nillable="true" type="xsd:int">
        </xsd:element>
        <xsd:element name="IsUcpe" type="xsd:int">
        </xsd:element>
        <xsd:element name="CpeCommercialDesc">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="200"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="EdhLastUpdateDate" nillable="true" type="xsd:date">
        </xsd:element>
		<xsd:element name="CpeMake" nillable="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="150"/>
				</xsd:restriction>
			</xsd:simpleType>
        </xsd:element>
		<xsd:element name="CpeModel" nillable="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
        </xsd:element>
		<xsd:element name="CpeUnicaDesc" nillable="true">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="DAC" nillable="true" type="xsd:date">
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>

  </xsd:schema>

  </wsdl:types>

  <wsdl:message name="inMessage">
    <wsdl:part name="inParm" element="n:InputRequest" />
  </wsdl:message>
  <wsdl:message name="outMessage">
    <wsdl:part name="outParm" element="n:OutputResponse" />
  </wsdl:message>

  <wsdl:portType name="RetrieveCTPOrderPort">
    <wsdl:operation name="RetrieveCTPOrderOperation">
      <wsdl:input message="infa:inMessage"/>
      <wsdl:output message="infa:outMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="RetrieveCTPOrderBinding" type="infa:RetrieveCTPOrderPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="RetrieveCTPOrderOperation">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body  use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body  use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="RetrieveCTPOrder">
    <wsdl:port name="RetrieveCTPOrderPort" binding="infa:RetrieveCTPOrderBinding">
      <soap:address location="http://pwc-cl3.svi.intranet.fw:7335/wsh/services/RealTime/RetrieveCTPOrder" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

