configuration/wsdl/ManageCommercialInfoWS/ManageCommercialInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://it.fastweb.esb.org/ManageCommercialInfo" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://it.fastweb.esb.org/ManageCommercialInfo">
    <WL5G3N0:types>
        <xsd:schema
        	xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/"
        	xmlns:rd="http://it.fastweb.esb.org/ResultDataType"
        	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        	xmlns:td="http://it.fastweb.esb.org/TransactionDataTypes"
        	xmlns:tns="http://it.fastweb.esb.org/ManageCommercialInfo"
        	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        	attributeFormDefault="unqualified"
        	elementFormDefault="qualified"
        	targetNamespace="http://it.fastweb.esb.org/ManageCommercialInfo">
        	<xsd:import schemaLocation="XSD_ESB_ResultData.xsd"
        		namespace="http://it.fastweb.esb.org/ResultDataType">
        	</xsd:import>
        	<xsd:import schemaLocation="XSD_ESB_TransactionData.xsd" namespace="http://it.fastweb.esb.org/TransactionDataTypes"></xsd:import>
        	<xsd:element name="RetrieveCMPUsimRequest"
        		type="tns:RetrieveCMPUsimRequestType" />
        	<xsd:element name="RetrieveCMPUsimResponse"
        		type="tns:RetrieveCMPUsimResponseType" />
        	<xsd:complexType name="RetrieveCMPUsimRequestType">
        		<xsd:sequence>
        			<xsd:element name="TransactionData"
        				type="td:TransactionDataType" />
        			<xsd:element name="InputData"
        				type="tns:InputDataType" />
        		</xsd:sequence>
        	</xsd:complexType>
        	<xsd:complexType name="InputDataType">
        		<xsd:choice>
        			<xsd:element name="BillingAccount">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="60" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="IMSI">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="16" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        		</xsd:choice>
        	</xsd:complexType>
        	<xsd:complexType name="RetrieveCMPUsimResponseType">
        		<xsd:sequence>
        			<xsd:element name="ResultData"
        				type="rd:ResultDataType" />
        			<xsd:element minOccurs="0" name="OutputData"
        				type="tns:OutputDataType" />
        		</xsd:sequence>
        	</xsd:complexType>
        	<xsd:complexType name="OutputDataType">
        		<xsd:sequence>
        			<xsd:element name="ErrorCode">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:minLength value="0" />
        						<xsd:maxLength value="50" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element minOccurs="0" name="ErrorMessage"
        				nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:minLength value="0" />
        						<xsd:maxLength value="255" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element minOccurs="0" name="DataDetailsList"
        				nillable="true" type="tns:DataDetailsListType" />
        		</xsd:sequence>
        	</xsd:complexType>
        	<xsd:complexType name="DataDetailsListType">
        		<xsd:sequence>
        			<xsd:element name="BillingAccount"
        				nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="60" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element maxOccurs="unbounded" minOccurs="0"
        				name="ListOfUSIM" type="tns:ListOfUSIMType" />
        		</xsd:sequence>
        	</xsd:complexType>
        	<xsd:complexType name="ListOfUSIMType">
        		<xsd:sequence>
        			<xsd:element name="IMSI" nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="16" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="IMSIStatus" nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="15" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="CardType" nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="20" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="MSISDN" nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="20" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="RoamingInternational"
        				nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="20" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="RoamingCamel2" nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="20" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="FriendFamily" nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="20" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="FriendFamilyCalled"
        				nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="20" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="FriendFamilyConfigDate"
        				nillable="true" type="xsd:date" />
        			<xsd:element name="WOWFIMobile" nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="20" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        			<xsd:element name="EdhLastUpdateDate"
        				nillable="true" type="xsd:date" />
        			<xsd:element name="DateChangeStatus" nillable="true"
        				type="xsd:date" />
        			<xsd:element name="BillingType" nillable="true">
        				<xsd:simpleType>
        					<xsd:restriction base="xsd:string">
        						<xsd:maxLength value="10" />
        					</xsd:restriction>
        				</xsd:simpleType>
        			</xsd:element>
        		</xsd:sequence>
        	</xsd:complexType>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="RetrieveCMPUsimRequest">
        <WL5G3N0:part name="RetrieveCMPUsimRequest" element="WL5G3N1:RetrieveCMPUsimRequest"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="RetrieveCMPUsimResponse">
        <WL5G3N0:part name="RetrieveCMPUsimResponse" element="WL5G3N1:RetrieveCMPUsimResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="ManageCommercialInfoPortType">
        <WL5G3N0:operation name="RetrieveCMPUsim">
            <WL5G3N0:input message="WL5G3N1:RetrieveCMPUsimRequest"/>
            <WL5G3N0:output message="WL5G3N1:RetrieveCMPUsimResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="ManageCommercialInfoBinding" type="WL5G3N1:ManageCommercialInfoPortType">
        <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="RetrieveCMPUsim">
            <WL5G3N2:operation style="document" soapAction="RetrieveCMPUsim"/>
            <WL5G3N0:input>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N2:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="ManageCommercialInfoService">
        <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
        <WL5G3N0:port name="ManageCommercialInfoPort" binding="WL5G3N1:ManageCommercialInfoBinding">
            <WL5G3N2:address location="http://ws302oag.se.intranet.fw:8080/Eudata/AdministrativeProcess/ManageCommercialInfo"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
