configuration/wsdl/SalesForceWS/WSUpsertInteraction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : WSUpsertInteraction
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/WSUpsertInteraction" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/WSUpsertInteraction">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/WSUpsertInteraction">
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="Wave"/>
     <xsd:enumeration value="Nba"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CustomerData">
    <xsd:sequence>
     <xsd:element name="AccountNumber" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InteractionData">
    <xsd:sequence>
     <xsd:element name="Account" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CanaleProvenienzaCliente" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ConversationId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="DialogId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="FornitorediRiferimento" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="IntentCliente" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="LoginAgent" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="RecapitoMobile" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ScoreConversazione" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SkillGroup" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Status" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="TimestampApertura" minOccurs="0" type="xsd:dateTime" nillable="true"/>
     <xsd:element name="TimestampChiusura" minOccurs="0" type="xsd:dateTime" nillable="true"/>
     <xsd:element name="TimestampPresaIncarico" minOccurs="0" type="xsd:dateTime" nillable="true"/>
     <xsd:element name="TrackId" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InteractionDataResponse">
    <xsd:sequence>
     <xsd:element name="BillingAccountId" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ResultData">
    <xsd:sequence>
     <xsd:element name="ErrorType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Message" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Result" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TransactionData">
    <xsd:sequence>
     <xsd:element name="SenderName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="TransactionId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="TransactionTime" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Username" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpsertInteraction">
    <xsd:sequence>
     <xsd:element name="CustomerData" minOccurs="0" type="tns:CustomerData" nillable="true"/>
     <xsd:element name="InteractionData" minOccurs="0" type="tns:InteractionData" nillable="true"/>
     <xsd:element name="TransactionData" minOccurs="0" type="tns:TransactionData" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpsertInteractionResponse">
    <xsd:sequence>
     <xsd:element name="InteractionDataResponse" minOccurs="0" type="tns:InteractionDataResponse" nillable="true"/>
     <xsd:element name="ResultData" minOccurs="0" type="tns:ResultData" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="address">
    <xsd:complexContent>
     <xsd:extension base="tns:location">
      <xsd:sequence>
       <xsd:element name="city" type="xsd:string"/>
       <xsd:element name="country" type="xsd:string"/>
       <xsd:element name="countryCode" type="xsd:string"/>
       <xsd:element name="geocodeAccuracy" type="xsd:string"/>
       <xsd:element name="postalCode" type="xsd:string"/>
       <xsd:element name="state" type="xsd:string"/>
       <xsd:element name="stateCode" type="xsd:string"/>
       <xsd:element name="street" type="xsd:string"/>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="location">
    <xsd:sequence>
     <xsd:element name="latitude" type="xsd:double"/>
     <xsd:element name="longitude" type="xsd:double"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="UpsertInteraction">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ui" type="tns:UpsertInteraction" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="UpsertInteractionResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:UpsertInteractionResponse" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="UpsertInteractionRequest">
  <part element="tns:UpsertInteraction" name="parameters"/>
 </message>
 <message name="UpsertInteractionResponse">
  <part element="tns:UpsertInteractionResponse" name="parameters"/>
 </message>
 <portType name="WSUpsertInteractionPortType">
  <operation name="UpsertInteraction">
   <input message="tns:UpsertInteractionRequest"/>
   <output message="tns:UpsertInteractionResponse"/>
  </operation>
 </portType>
 <binding name="WSUpsertInteractionBinding" type="tns:WSUpsertInteractionPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="UpsertInteraction">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="WSUpsertInteractionService">
  <documentation></documentation>
  <port binding="tns:WSUpsertInteractionBinding" name="WSUpsertInteraction">
   <soap:address location="https://cs108.salesforce.com/services/Soap/class/WSUpsertInteraction"/>
  </port>
 </service>
</definitions>