FW19AccountIndicators/src/main/resources/RetrieveAccountIndicators.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions
	xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
	xmlns:WL5G3N1="http://it.fastweb.esb.org/RetrieveAccountIndicators"
	xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://it.fastweb.esb.org/RetrieveAccountIndicators">
	<WL5G3N0:types>
		<xsd:schema
			xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:rd="http://it.fastweb.esb.org/ResultDataType"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
			xmlns:td="http://it.fastweb.esb.org/TransactionDataTypes"
			xmlns:tns="http://it.fastweb.esb.org/RetrieveAccountIndicators"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://it.fastweb.esb.org/RetrieveAccountIndicators">
			<xsd:import schemaLocation="XSD_ESB_ResultData.xsd"
				namespace="http://it.fastweb.esb.org/ResultDataType">
			</xsd:import>
			<xsd:import schemaLocation="XSD_ESB_TransactionData.xsd"
				namespace="http://it.fastweb.esb.org/TransactionDataTypes"></xsd:import>
			<xsd:element name="RetrieveAccountIndicatorsRequest"
				type="tns:RetrieveAccountIndicatorsRequestType" />
			<xsd:element name="RetrieveAccountIndicatorsResponse"
				type="tns:RetrieveAccountIndicatorsResponseType" />
			<xsd:complexType
				name="RetrieveAccountIndicatorsRequestType">
				<xsd:sequence>
					<xsd:element name="TransactionData"
						type="td:TransactionDataType" />
					<xsd:element name="InputData" type="tns:InputDataType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InputDataType">
				<xsd:sequence>
					<xsd:element name="Id">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="250" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="IndName">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4000" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType
				name="RetrieveAccountIndicatorsResponseType">
				<xsd:sequence>
					<xsd:element name="ResultData" type="rd:ResultDataType" />
					<xsd:element minOccurs="0" name="OutputData"
						type="tns:OutputDataType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OutputDataType">
				<xsd:sequence>
					<xsd:element name="ErrorCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1" />
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="0" name="ErrorDescription">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="255" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="ListOfAccountIndicators" type="tns:ListOfAccountIndicators" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ListOfAccountIndicators">
				<xsd:sequence>
					<xsd:element name="IndName">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4000" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="IndValue">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4000" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="IndLud" type="xsd:date" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</WL5G3N0:types>
	<WL5G3N0:message
		name="RetrieveAccountIndicatorsRequest">
		<WL5G3N0:part name="RetrieveAccountIndicatorsRequest"
			element="WL5G3N1:RetrieveAccountIndicatorsRequest" />
	</WL5G3N0:message>
	<WL5G3N0:message
		name="RetrieveAccountIndicatorsResponse">
		<WL5G3N0:part name="RetrieveAccountIndicatorsResponse"
			element="WL5G3N1:RetrieveAccountIndicatorsResponse" />
	</WL5G3N0:message>
	<WL5G3N0:portType
		name="RetrieveAccountIndicatorsPortType">
		<WL5G3N0:operation name="RetrieveAccountIndicators">
			<WL5G3N0:input
				message="WL5G3N1:RetrieveAccountIndicatorsRequest" />
			<WL5G3N0:output
				message="WL5G3N1:RetrieveAccountIndicatorsResponse" />
		</WL5G3N0:operation>
	</WL5G3N0:portType>
	<WL5G3N0:binding
		name="RetrieveAccountIndicatorsBinding"
		type="WL5G3N1:RetrieveAccountIndicatorsPortType">
		<WL5G3N2:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<WL5G3N0:operation name="RetrieveAccountIndicators">
			<WL5G3N2:operation style="document"
				soapAction="RetrieveAccountIndicators" />
			<WL5G3N0:input>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:input>
			<WL5G3N0:output>
				<WL5G3N2:body use="literal" />
			</WL5G3N0:output>
		</WL5G3N0:operation>
	</WL5G3N0:binding>
	<WL5G3N0:service
		name="RetrieveAccountIndicatorsService">
		<WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
		<WL5G3N0:port name="RetrieveAccountIndicatorsPort"
			binding="WL5G3N1:RetrieveAccountIndicatorsBinding">
			<WL5G3N2:address
				location="http://ws302oag.se.intranet.fw:8080/Eudata/CustomerManagement/RetrieveAccountIndicators" />
		</WL5G3N0:port>
	</WL5G3N0:service>
</WL5G3N0:definitions>
