configuration/wsdl/RetrieveDocumentoCAPWS/WSDL_ESB_RetrieveDocumentoCAP.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:td="http://it.fastweb.esb.org/TransactionDataTypes" xmlns:rd="http://it.fastweb.esb.org/ResultDataType" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://it.fastweb.esb.org/RetrieveDocumentoCAP" targetNamespace="http://it.fastweb.esb.org/RetrieveDocumentoCAP">
	<types>
		<xsd:schema targetNamespace="http://it.fastweb.esb.org/RetrieveDocumentoCAP" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://it.fastweb.esb.org/RetrieveDocumentoCAP" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:infatype="http://it.fastweb.esb.org/RetrieveDocumentoCAP/types/">
			<xsd:import schemaLocation="XSD_ESB_TransactionData.xsd" namespace="http://it.fastweb.esb.org/TransactionDataTypes"/>
			<xsd:import schemaLocation="XSD_ESB_ResultData.xsd" namespace="http://it.fastweb.esb.org/ResultDataType"/>
			<xsd:element name="RetrieveDocumentoSAPRequest" type="tns:RetrieveDocumentoSAPRequestType"/>
			<xsd:element name="RetrieveDocumentoSAPResponse" type="tns:RetrieveDocumentoSAPResponseType"/>
			<xsd:complexType name="ListOfDocumentoType">
				<xsd:sequence>
					<xsd:element name="NumDoc" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="SAPAccountId" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FiscalYear" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NumDocYear" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocTypeId" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocTypeName" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MacrocategoryName" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="60"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MicrocategoryName" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="60"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocAmount" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MaxMopTypeDesc" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="InstallmentHwFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AcquiredDate" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:date"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RegistrationDate" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:date"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocDate" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:date"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocExpireDate" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:date"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DocAccountno" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MailedFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Balance" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ExpiredBalance" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ToExpireBalance" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="BalanceNetComp" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ExpiredBalanceNetComp" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ToExpireBalanceNetComp" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DueBalance" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MatchesNotAssignedFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="UnpaidFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ParzialPaymentFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DecimalPaymentFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CreditNoteNotAttribFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PosToCreditToRefundFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PosToCreditWaitRedressFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="FrontendInvoiceStatus" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="InvoiceTechStatus" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="OnlinePayabilityStatus" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="50"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="RcinsUnsolvedReceipt" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NDC_FLG" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="2"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DoubleStorePaymentFlg" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int"/>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OutputDataType">
				<xsd:sequence>
					<xsd:element name="ErrorCode" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"/>
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ErrorDescription" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CompanyCode" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AccountNoCustomerId" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ListOfDocumento" minOccurs="0" maxOccurs="unbounded" type="ListOfDocumentoType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RetrieveDocumentoSAPRequestType">
				<xsd:sequence>
					<xsd:element name="TransactionData" type="td:TransactionDataType"/>
					<xsd:element name="InputData" type="tns:InputDataType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RetrieveDocumentoSAPResponseType">
				<xsd:sequence>
					<xsd:element name="ResultData" type="rd:ResultDataType"/>
					<xsd:element name="OutputData" type="tns:OutputDataType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="InputDataType">
				<xsd:sequence>
					<xsd:element name="CompanyCode" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AccountNoCustomerId" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MacrocategoryName" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="60"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MinRegistrationDate" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:date"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MaxRegistrationDate" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:date"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MailedFlg" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="1"/>
								<xsd:enumeration value="Y"/>
								<xsd:enumeration value="N"/>
								<xsd:enumeration value="A"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="RetrieveDocumentoSAPRequest">
		<part name="RetrieveDocumentoSAPRequest" element="tns:RetrieveDocumentoSAPRequest"/>
	</message>
	<message name="RetrieveDocumentoSAPResponse">
		<part name="RetrieveDocumentoSAPResponse" element="tns:RetrieveDocumentoSAPResponse"/>
	</message>
	<portType name="RetrieveDocumentoCAPPortType">
		<operation name="RetrieveDocumentoSAP">
			<input message="tns:RetrieveDocumentoSAPRequest"/>
			<output message="tns:RetrieveDocumentoSAPResponse"/>
		</operation>
	</portType>
	<binding name="RetrieveDocumentoCAP" type="tns:RetrieveDocumentoCAPPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="RetrieveDocumentoSAP">
			<soap:operation soapAction="RetrieveDocumentoSAP" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="RetrieveDocumentoCAPService">
		<port name="RetrieveDocumentoCAP_Port" binding="tns:RetrieveDocumentoCAP">
			<soap:address location="http://ws302oag.se.intranet.fw:8080/Eudata/CustomerAdminPosition/RetrieveDocumentoCAP"/>
		</port>
	</service>
</definitions>
