configuration/wsdl/ClusterStatInfoCMNWS/ClusterStatInfoCMN.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://hp.com/fastweb/cti/clusterstatinfocmn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountInfo"
	targetNamespace="http://hp.com/fastweb/cti/clusterstatinfocmn/" xmlns:types="http://hp.com/fastweb/cti/commontypes/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://hp.com/fastweb/cti/clusterstatinfocmn/">
			<xsd:import namespace="http://hp.com/fastweb/cti/commontypes/"
				schemaLocation="XSD_CTI_CommonTypes.xsd" />
			<xsd:simpleType name="StatStatus">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="AVAILABLE"/>
					<xsd:enumeration value="NOT_AVAILABLE"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="StatInfo">
				<xsd:attribute name="metric" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation xml:lang="it">
							Nome della statistica.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="object" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation xml:lang="it">
							Identificativo
							dell'oggetto Genesys su cui è stato calcolato il valore.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="value" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation xml:lang="it">
							Valore della
							statistica. Presente solo se status=AVAILABLE
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="status" type="tns:StatStatus">
					<xsd:annotation>
						<xsd:documentation xml:lang="it">
							Indica se il valore
							è disponibile.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="lastUpdate" type="xsd:long">
					<xsd:annotation>
						<xsd:documentation xml:lang="it">
							Secondi dal
							1970/01/01 00.00.00 UTC dell'ultimo aggiornamento/calcolo.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="StatInfoList">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="statInfo"
						type="tns:StatInfo" />
				</xsd:sequence>
			</xsd:complexType>	
			<xsd:complexType name="DayInfo">
				<xsd:attribute name="name" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation xml:lang="it">
							Nome dell giorno
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="label" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation xml:lang="it">
							attributo con l'identificativo di chiusura.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="flagStatus" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation xml:lang="it">
							idientificativo stato di chiusura
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="AperturaInfoList">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="dayInfo"
						type="tns:DayInfo" />
				</xsd:sequence>				
				<xsd:attribute name="noteDesc" type="xsd:string" use="optional" />
			</xsd:complexType>

			<xsd:complexType name="ClusterInfo">
				<xsd:attribute name="name" type="xsd:string" use="required" />
				<xsd:attribute name="uscita" type="xsd:string" use="optional" />
				<xsd:attribute name="priorita" type="xsd:int" use="optional" />
			</xsd:complexType>

			<xsd:complexType name="ClusterInfoList">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="clusterInfo"
						type="tns:ClusterInfo" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ClusterStatInfoCMN">
				<xsd:sequence>
					<xsd:element name="cluster" type="tns:ClusterInfo"
						minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="it">
								Cluster e uscita
								IVR. Presente solo se è il cluster è calcolato. Si
								restituisce il
								cluster e l'uscita a priorità più alta.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="stats" type="tns:StatInfoList" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="it">
								Lista delle
								statistiche associate.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AperturaInfo" type="tns:AperturaInfoList" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="it">
								Lista delle
								statistiche associate.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<!-- GetClusterStatInfo -->
			<xsd:element name="GetClusterStatInfoRequestCMN">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="requestId" type="types:UUID">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Identificativo
									della richiesta.
									Viene ricopiato nella risposta.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="account" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Identificativo del
									cliente.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="sender" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Identificativo del sender della request.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="motivoDiContatto" type="types:MotivoDiContatto"
							minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Coppia con il
									motivo di contatto del cliente.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="multipleCallerTopic" type="xsd:string"
							minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									multipleCallerTopic
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="issue" type="xsd:string"
							minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Issue (esempio: HT_Degrado)
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="owner" type="xsd:string"
							minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Owner del case come sfdc-federation-id(esempio: nbenvenuti@fastweb.it)
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="area" type="xsd:string"
							minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Indica l'area. Può valere "Standard","Mobile" oppure non essere valorizzato.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="tipologia" type="xsd:string"
							minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Indica la combinazione di servizi del cliente. Può valere "Fisso","Mobile","Fisso+Mobile".
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!--PRJ0003759-->
						<xsd:element name="servizio" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Indica il servizio
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="kvList" type="types:KeyValueList"
							minOccurs="0">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Lista di coppie
									chiave-valore opzionali utili al fine della profilazione del
									cliente.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="GetClusterStatInfoResponseCMN">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="requestId" type="types:UUID">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									Ricopiato dalla
									richiesta.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="status" type="xsd:short" />
						<xsd:element name="description" type="xsd:string"
							minOccurs="0" />
						<xsd:element name="clusterStatInfoCMN" type="tns:ClusterStatInfoCMN"
							minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="it">
									L'elemento è
									presente solamente se status=0, ossia se ci non sono stati
									errori.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetClusterStatInfoRequestCMN">
		<wsdl:part element="tns:GetClusterStatInfoRequestCMN"
    	name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetClusterStatInfoResponseCMN">
		<wsdl:part element="tns:GetClusterStatInfoResponseCMN" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="ClusterStatInfoCMN">
		<wsdl:operation name="GetClusterStatInfoCMN">
			<wsdl:input message="tns:GetClusterStatInfoRequestCMN"/>
			<wsdl:output message="tns:GetClusterStatInfoResponseCMN"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ClusterStatInfoCMNSOAP" type="tns:ClusterStatInfoCMN">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetClusterStatInfoCMN">
			<soap:operation soapAction="http://hp.com/fastweb/cti/clusterstatinfocmn/GetClusterStatInfoCMN"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ClusterStatInfoCMN">
		<wsdl:port binding="tns:ClusterStatInfoCMNSOAP" name="ClusterStatInfoCMNSOAP">
			<soap:address location="http://localhost:8080/ClusterStatInfoCMN/services/ClusterStatInfoCMN"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>