configuration/wsdl/ClusterStatInfoCMLWS/ClusterStatInfoCML.wsdl

<definitions targetNamespace="http://it.fastweb.esb.org/ClusterStatInfoCML" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:td="http://it.fastweb.esb.org/TransactionDataTypes" xmlns:rd="http://it.fastweb.esb.org/ResultDataType" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://it.fastweb.esb.org/ClusterStatInfoCML">
	<types>
		<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://it.fastweb.esb.org/ClusterStatInfoCML">
			<xsd:import schemaLocation="XSD_ESB_TransactionData.xsd" namespace="http://it.fastweb.esb.org/TransactionDataTypes"/>
			<xsd:import schemaLocation="XSD_ESB_ResultData.xsd" namespace="http://it.fastweb.esb.org/ResultDataType"/>
			<xsd:element name="ClusterStatInfoCMLRequest" type="tns:ClusterStatInfoCMLRequestType"/>
			<xsd:element name="ClusterStatInfoCMLResponse" type="tns:ClusterStatInfoCMLResponseType"/>
			
			<xsd:complexType name="ClusterStatInfoCMLRequestType">
				<xsd:sequence>
					<xsd:element name="TransactionData" type="td:TransactionDataType"/>
					<xsd:element name="InputData" type="tns:InputDataType"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="InputDataType">
				<xsd:sequence>
					<xsd:element name="requestId">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="36"/>
								<xsd:maxLength value="36"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="account" type="xsd:string"/>
					<xsd:element name="ContactReason" type="tns:ContactReasonType" minOccurs="0"/>
					<xsd:element name="issue" type="xsd:string"	minOccurs="0"/>
					<xsd:element name="owner" type="xsd:string" minOccurs="0"/>
					<xsd:element name="area" type="xsd:string" minOccurs="0"/>
					<xsd:element name="type" type="xsd:string" minOccurs="0"/>
					<xsd:element name="KvList" type="tns:kvListType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="kvListType">
				<xsd:sequence>
					<xsd:element name="KeyValue" type="tns:KeyValueType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="KeyValueType">
				<xsd:sequence>
					<xsd:element name="key" type="xsd:string"/>
					<xsd:element name="value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ContactReasonType">
				<xsd:sequence>
					<xsd:element name="reason" type="xsd:string"/>
					<xsd:element name="detail" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="ClusterStatInfoCMLResponseType">
				<xsd:sequence>
					<xsd:element name="ResultData" type="rd:ResultDataType"/>
					<xsd:element name="OutputData" type="tns:OutputDataType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="OutputDataType">
				<xsd:sequence>
					<xsd:element name="requestId">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="36"/>
								<xsd:maxLength value="36"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ClusterStatInfo" type="tns:ClusterStatInfoType"/>
					<xsd:element name="AvailabilityInfo" type="tns:AvailabilityInfoType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="ClusterStatInfoType">
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:short"/>
					<xsd:element name="errorDescription" type="xsd:string" minOccurs="0"/>
					<xsd:element name="cluster" type="tns:clusterType" minOccurs="0"/>
					<xsd:element name="stats" type="tns:statsType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="clusterType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="exit" type="xsd:string" minOccurs="0"/>
					<xsd:element name="priority" type="xsd:int" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="statsType">
				<xsd:sequence>
					<xsd:element name="statInfo" type="tns:statInfoType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="statInfoType">
				<xsd:sequence>
					<xsd:element name="metric" type="xsd:string" minOccurs="0"/>
					<xsd:element name="object" type="xsd:string" minOccurs="0"/>
					<xsd:element name="value" type="xsd:string" minOccurs="0"/>
					<xsd:element name="status" type="xsd:string" minOccurs="0"/>
					<xsd:element name="lastUpdate" type="xsd:long" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="AvailabilityInfoType">
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:short"/>
					<xsd:element name="errorDescription" type="xsd:string" minOccurs="0"/>
					<xsd:element name="day" type="tns:dayType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="dayType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="timeSlot" type="tns:timeSlotType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="timeSlotType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="availability" type="xsd:short"/>
					<xsd:element name="from" type="xsd:string"/>
					<xsd:element name="until" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
		</xsd:schema>
	</types>
	<message name="ClusterStatInfoCMLRequest">
		<part name="ClusterStatInfoCMLRequest" element="tns:ClusterStatInfoCMLRequest"/>
	</message>
	<message name="ClusterStatInfoCMLResponse">
		<part name="ClusterStatInfoCMLResponse" element="tns:ClusterStatInfoCMLResponse"/>
	</message>
	<portType name="ClusterStatInfoCMLPortType">
		<operation name="ClusterStatInfoCML">
			<input message="tns:ClusterStatInfoCMLRequest"/>
			<output message="tns:ClusterStatInfoCMLResponse"/>
		</operation>
	</portType>
	<binding name="ClusterStatInfoCMLBinding" type="tns:ClusterStatInfoCMLPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ClusterStatInfoCML">
			<soap:operation soapAction="ClusterStatInfoCML" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ClusterStatInfoCMLService">
		<port name="ClusterStatInfoCMLPort" binding="tns:ClusterStatInfoCMLBinding">
			<soap:address location="http://localhost:8011/AGW/ClusterStatInfoCML"/>
		</port>
	</service>
</definitions>